# dependencies
node_modules/
**/node_modules/

# build output
.next/
**/.next/
out/
dist/

# env & secrets
.env
.env.local
.env*.local

# misc
.DS_Store
*.log
.vercel
*.tsbuildinfo

apps/web/*.mjs
apps/web/check-admin.mjs
apps/web/activate-admin.mjs
apps/web/reset-admin-password.mjs
